In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df=pd.read_csv('data.csv')

In [3]:
pd.set_option('display.max_columns',50)

In [4]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [5]:
df.shape
#No. of Rows -23678
#No. of columns -21

(23678, 21)

In [6]:
#Datatypes of each column
df.dtypes

Suburb            object
Address           object
Rooms            float64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [7]:
empty = df.apply(lambda x: x.isnull().all(), axis=1)
numOfRows = empty[empty == True].index
print('Number of Rows in dataframe which contain NaN in any column : ', numOfRows)

Number of Rows in dataframe which contain NaN in any column :  Int64Index([   31,  1145,  1348,  2119,  3277,  3288,  3745,  3752,  3798,
             3855,
            ...
            21220, 21343, 21602, 22003, 22109, 22288, 22704, 22918, 23153,
            23341],
           dtype='int64', length=131)

In [8]:
empty = df.apply(lambda x: x.isnull().all(), axis=1)
numOfRows = len(empty[empty == True].index)
print('Number of Rows in dataframe which contain NaN in all column : ', numOfRows)
print('Percent of Rows in dataframe which contain NaN in all column : ', numOfRows/df.shape[0])
df.dropna(how='all',inplace=True)
print(df.shape)

Number of Rows in dataframe which contain NaN in all column :  131
Percent of Rows in dataframe which contain NaN in all column :  0.005532561871779711
(23547, 21)

In [9]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             5151
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          4481
Bathroom          4484
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           1
Propertycount        1
dtype: int64

In [10]:
empty = df.apply(lambda x: x.isnull().any(), axis=1)
numOfRows = empty[empty == True].index
print('Rows in dataframe which contain NaN in any column : ', numOfRows)

Rows in dataframe which contain NaN in any column :  Int64Index([    0,     1,     3,     5,     7,     8,     9,    10,    12,
               13,
            ...
            23668, 23669, 23670, 23671, 23672, 23673, 23674, 23675, 23676,
            23677],
           dtype='int64', length=17351)

In [11]:
df.isnull().sum(axis=0) * 100 / len(df)

Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price            21.875398
Method            0.000000
SellerG           0.000000
Date              0.000000
Distance          0.004247
Postcode          0.004247
Bedroom2         19.030025
Bathroom         19.042766
Car              19.645815
Landsize         26.062768
BuildingArea     57.455302
YearBuilt        50.991634
CouncilArea      33.511700
Lattitude        18.278337
Longtitude       18.278337
Regionname        0.004247
Propertycount     0.004247
dtype: float64

In [12]:
df.isnull().sum(axis=1) * 100 / len(df)

0        0.012740
1        0.008494
2        0.000000
3        0.012740
4        0.000000
           ...
23673    0.008494
23674    0.033975
23675    0.016987
23676    0.004247
23677    0.008494
Length: 23547, dtype: float64

In [13]:
empty=df.isnull().sum(axis=0) * 100 / len(df)>30.0
m=empty[empty==True]
print(m)
df.drop(['BuildingArea','YearBuilt','CouncilArea'],axis=1,inplace=True)

BuildingArea    True
YearBuilt       True
CouncilArea     True
dtype: bool

In [14]:
if(len(df[df.isnull().sum(axis=1)>5])/len(df)<0.20):
    df.drop(df[df.isnull().sum(axis=1)>5].index,inplace=True)
else:
    print('The percentage of rows is less than 20%')

In [15]:
df.shape

(19269, 18)

In [16]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount
count,19269.000000,1.508600e+04,19269.000000,19269.000000,19066.000000,19063.000000,18921.000000,17410.000000,19243.000000,19243.000000,19269.000000
mean,2.973117,1.066695e+06,10.204365,3110.015777,2.951956,1.570897,1.626235,551.783458,-37.812434,145.000287,7490.249520
std,0.978969,6.389331e+05,6.065786,93.730487,0.996032,0.712684,0.974048,3544.288014,0.079926,0.106071,4319.566673
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,-38.184180,144.431620,129.000000
25%,2.000000,6.400000e+05,6.100000,3049.000000,2.000000,1.000000,1.000000,181.000000,-37.859300,144.939300,4442.000000
50%,3.000000,9.000000e+05,9.200000,3102.000000,3.000000,1.000000,2.000000,448.000000,-37.809700,145.004300,6567.000000
75%,4.000000,1.320000e+06,13.000000,3150.000000,4.000000,2.000000,2.000000,656.000000,-37.759800,145.063100,10331.000000
max,12.000000,9.000000e+06,48.100000,3977.000000,30.000000,12.000000,26.000000,433014.000000,-37.407580,145.526350,21650.000000

In [22]:
df.head(30)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,2.0,1.0,1.0,126.0,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,2.0,1.0,1.0,202.0,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,2.0,1.0,0.0,156.0,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,3.0,2.0,1.0,0.0,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,0.0,134.0,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,1.0,94.0,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,04-06-2016,2.5,3067.0,3.0,1.0,2.0,120.0,-37.8072,144.9941,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4.0,h,NaN,SN,Nelson,06-08-2016,2.5,3067.0,3.0,2.0,2.0,400.0,-37.7965,144.9965,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2.0,h,NaN,S,Biggin,06-08-2016,2.5,3067.0,4.0,1.0,2.0,201.0,-37.7995,144.9974,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2.0,h,NaN,S,Collins,06-08-2016,2.5,3067.0,3.0,2.0,1.0,202.0,-37.7996,144.9989,Northern Metropolitan,4019.0
10,Abbotsford,129 Charles St,2.0,h,941000.0,S,Jellis,07-05-2016,2.5,3067.0,2.0,1.0,0.0,181.0,-37.8041,144.9953,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3.0,h,1876000.0,S,Nelson,07-05-2016,2.5,3067.0,4.0,2.0,0.0,245.0,-37.8024,144.9993,Northern Metropolitan,4019.0
12,Abbotsford,121/56 Nicholson St,2.0,u,NaN,PI,Biggin,07-11-2016,2.5,3067.0,2.0,2.0,1.0,4292.0,-37.8078,144.9965,Northern Metropolitan,4019.0
13,Abbotsford,17 Raphael St,4.0,h,NaN,W,Biggin,07-11-2016,2.5,3067.0,6.0,2.0,0.0,230.0,-37.8066,144.9936,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2.0,h,1636000.0,S,Nelson,08-10-2016,2.5,3067.0,2.0,1.0,2.0,256.0,-37.8060,144.9954,Northern Metropolitan,4019.0
17,Abbotsford,6/241 Nicholson St,1.0,u,300000.0,S,Biggin,08-10-2016,2.5,3067.0,1.0,1.0,1.0,0.0,-37.8008,144.9973,Northern Metropolitan,4019.0
18,Abbotsford,10 Valiant St,2.0,h,1097000.0,S,Biggin,08-10-2016,2.5,3067.0,3.0,1.0,2.0,220.0,-37.8010,144.9989,Northern Metropolitan,4019.0
20,Abbotsford,2 Rich St,2.0,h,NaN,SP,Biggin,10-12-2016,2.5,3067.0,2.0,1.0,1.0,176.0,-37.7998,144.9972,Northern Metropolitan,4019.0
23,Abbotsford,411/8 Grosvenor St,2.0,u,700000.0,VB,Jellis,12-11-2016,2.5,3067.0,2.0,2.0,1.0,0.0,-37.8110,145.0067,Northern Metropolitan,4019.0
24,Abbotsford,40 Nicholson St,3.0,h,1350000.0,VB,Nelson,12-11-2016,2.5,3067.0,3.0,2.0,2.0,214.0,-37.8085,144.9964,Northern Metropolitan,4019.0
25,Abbotsford,123/56 Nicholson St,2.0,u,750000.0,S,Biggin,12-11-2016,2.5,3067.0,2.0,2.0,1.0,0.0,-37.8078,144.9965,Northern Metropolitan,4019.0
26,Abbotsford,22 Park St,4.0,h,1985000.0,S,Biggin,12-11-2016,2.5,3067.0,NaN,NaN,NaN,NaN,-37.8084,144.9942,Northern Metropolitan,4019.0
28,Abbotsford,45 William St,2.0,h,1172500.0,S,Biggin,13-08-2016,2.5,3067.0,2.0,1.0,1.0,195.0,-37.8084,144.9973,Northern Metropolitan,4019.0
29,Abbotsford,7/20 Abbotsford St,1.0,u,441000.0,SP,Greg,14-05-2016,2.5,3067.0,1.0,1.0,1.0,0.0,-37.8016,144.9988,Northern Metropolitan,4019.0
30,Abbotsford,16 William St,2.0,h,1310000.0,S,Jellis,15-10-2016,2.5,3067.0,2.0,1.0,2.0,238.0,-37.8090,144.9976,Northern Metropolitan,4019.0
32,Abbotsford,16/11 Nicholson St,3.0,u,NaN,PI,Philip,16-04-2016,2.5,3067.0,3.0,2.0,2.0,0.0,-37.8093,144.9959,Northern Metropolitan,4019.0
33,Abbotsford,42 Henry St,3.0,h,1200000.0,S,Jellis,16-07-2016,2.5,3067.0,3.0,2.0,1.0,113.0,-37.8056,144.9930,Northern Metropolitan,4019.0
36,Abbotsford,78 Yarra St,3.0,h,1176500.0,S,LITTLE,16-07-2016,2.5,3067.0,2.0,1.0,1.0,138.0,-37.8021,144.9965,Northern Metropolitan,4019.0
37,Abbotsford,196 Nicholson St,3.0,h,955000.0,S,Collins,17-09-2016,2.5,3067.0,3.0,1.0,0.0,183.0,-37.8022,144.9975,Northern Metropolitan,4019.0
38,Abbotsford,42 Valiant St,2.0,h,890000.0,S,Biggin,17-09-2016,2.5,3067.0,2.0,1.0,1.0,150.0,-37.8011,145.0004,Northern Metropolitan,4019.0

In [25]:
df.dropna(subset=['Price'],inplace=True)

In [26]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,2.0,1.0,1.0,202.0,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,2.0,1.0,0.0,156.0,-37.8079,144.9934,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,0.0,134.0,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,1.0,94.0,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,04-06-2016,2.5,3067.0,3.0,1.0,2.0,120.0,-37.8072,144.9941,Northern Metropolitan,4019.0

In [28]:
df.isnull().sum(axis=0)*100/len(df)

Suburb           0.000000
Address          0.000000
Rooms            0.000000
Type             0.000000
Price            0.000000
Method           0.000000
SellerG          0.000000
Date             0.000000
Distance         0.000000
Postcode         0.000000
Bedroom2         1.053957
Bathroom         1.067215
Car              1.763224
Landsize         9.830306
Lattitude        0.145831
Longtitude       0.145831
Regionname       0.000000
Propertycount    0.000000
dtype: float64

In [30]:
df.dropna(subset=['Bedroom2','Bathroom','Car','Landsize','Lattitude','Longtitude'],inplace=True)

In [31]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,2.0,1.0,1.0,202.0,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,2.0,1.0,0.0,156.0,-37.8079,144.9934,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,0.0,134.0,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,1.0,94.0,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,04-06-2016,2.5,3067.0,3.0,1.0,2.0,120.0,-37.8072,144.9941,Northern Metropolitan,4019.0

In [35]:
1-df.shape[1]/21
#14 % of columns are removed

0.1428571428571429

In [36]:
1-df.shape[0]/23678
# 42% of the rows are removed

0.4290902947884112